{% extends 'users/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="registration-form">
        <form class="form-signin">
            <div class="form-group">
                <h1 class="text-center login-title">Reset Password</h1>
            </div>
            <div class="alert alert-info text-center">
                An email has been sent with instructions to reset your password
            </div>
        </form>
    </div>
{% endblock %}